repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements

      - id: end-of-file-fixer

      - id: fix-byte-order-marker

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
        files: pyproject.toml$

  - repo: https://github.com/MarketSquare/robotframework-tidy
    rev: "4.11.0"
    hooks:
      - id: robotidy

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.3.5"
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-pyyaml
          - types-cachetools
          - types-retry
          - pydantic
          - pynacl
          - httpx
          - types-python-dateutil
          - types-requests
          - types-croniter

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
        args: ["-L", "lama", "--ignore-regex", ".{1024}|.*codespell-ignore.*"]

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.3.1
    hooks:
      - id: stylelint
        args: [--fix]
        additional_dependencies:
          - stylelint@15.10.1
          - stylelint-config-standard-scss@10.0.0
        files: "^(rocky\/assets\/css\/|docs\/source\/).*.(css|scss|sass)$"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["-e", "SC1091"]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        args: ["-w", "-s", "-i", "4", "-sr"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.4
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
      - id: poetry-install
