name: Run Pytest for Luik

on:
  push:
    branches:
      - "main"

jobs:
  Pytest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with dev

      - name: Run tests
        env:
          OCTOPOES_API: http://localhost:8001
          KATALOGUS_API: http://localhost:8003
          SCHEDULER_API: http://localhost:8004
          BOEFJE_RUNNER_API: http://localhost:8005
          KATALOGUS_DB_URI: postgresql://test:test@localhost:5432/katalogus
          API: http://localhost:8019
          LUIK_OUTPUT_URL: http://localhost:8019
        run: poetry run pytest

permissions:
  contents: read
